<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index css.css" type="text/css"/>


</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="Test.html">Test Intrusión</a></li>
                <li><a href="#">Tipo 1</a></li>
                <li><a href= "#segundo">Tipo 2</a></li>
                <li><a href="#contacto">Tipo 3</a></li>
                
            </ul>
        </nav>
    </header>



<div id="cuerpo">
    <h1 style="text-align:center;">CIBERSEGURIDAD</h1>
<img src="https://www.lasrozas.es/sites/default/files/inline-images/Ciber.jpg">
<p style="font-family:verdana;">La ciberseguridad es la práctica de proteger sistemas, redes y programas de ataques digitales. Por lo general, estos ciberataques apuntan a acceder, modificar o destruir la información confidencial; Extorsionar a los usuarios o los usuarios o interrumpir la continuidad del negocio</p>

<h3 style="font-family:verdana;">Confidencialidad</h3>
<p style="font-family:verdana;">La confidencialidad es la garantía de que la información personal será protegida para que no sea divulgada sin consentimiento de la persona</p>

<h3 style="font-family:verdana;">Disponibilidad:</h3>
<p style="font-family:verdana;">Garantiza que el sistema y los datos estarán disponibles para los usuarios.</p>

<h3 style="font-family:verdana;">Integridad:</h3>
<p style="font-family:verdana;">Garantiza que la información no ha sido modificada sin autorización.</p>

<h3 style="font-family:verdana;">No repudio:</h3>
<p style="font-family:verdana;">Impide que el emisor niegue haber estado involucrado en una comunicación.</p>

<h3 style="font-family:verdana;">Clasificación:</h3>
<h4 style="font-family:verdana;">Activa:</h4>
<p style="font-family:verdana;">Significa prevenir. Evitan daños en los sistemas.</p>
    <p style="font-family:verdana;">- Por ejemplo: contraseñas, antivirus, encriptación…</p>

<h4 style="font-family:verdana;">Pasiva:</h4>
<p style="font-family:verdana;">Significa curar. Minimizan las consecuencias de daños.</p>
    <p style="font-family:verdana;">- Ejemplos: copias de seguridad, discos redundantes,…</p>

<h4 style="font-family:verdana;">Software:</h4>
<p style="font-family:verdana;">Conjunto de programas y rutinas que permiten a la computadora realizar determinadas tareas.</p>

<h4 style="font-family:verdana;">Hardware:</h4>
<p style="font-family:verdana;">Conjunto de elementos físicos o materiales que constituyen una computadora o un sistema informático.</p>
</div>
</body>
</html>