<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index css.css" type="text/css"/>


</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Test Intrusión</a></li>
                <li><a href="#">Tipo 1</a></li>
                <li><a href= "#segundo">Tipo 2</a></li>
                <li><a href="#contacto">Tipo 3</a></li>
                
            </ul>
        </nav>
    </header>

<div id="test">
    <p><a href="#informacion">Recopilación de información</a></p>
    <p><a href="#analisis">Análisis de vulnerabilidad</a></p>
    <p><a href="#Explotación">Explotación de vulnerabilidad</a></p>
    <p><a href="#post">Post-explotación</a></p>
    <p><a href="#redacc">Redacción</a></p>
    <img src="../static/FASES.png" alt="Trulli" width="1200" height="720">

    <section id="informacion"></section>
    <img src="../static/recopilación.png" width="1200" height="720">
    <section id="analisis"></section>
    <img src="../static/3.png" width="1200" height="720">
    <section id="Explotación"></section>
    <img src="../static/4.png" width="1200" height="720">
    <section id="post"></section>
    <img src="../static/5.png" width="1200" height="720">
    <section id="redacc"></section>
    <img src="../static/6.png" width="1200" height="720>"


</div></body>
</html>